@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    border: none;
    width: 32%;
    height: 95vh;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.cal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.cal-head a{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
}

.cal-head a:hover {
    color: #ff9500;
    text-decoration: underline;
    transition: .3s;
}

.input-box {
    margin: 2em;
    width: 90%;
}

input[type='text']{ 
    width: 100%;
    padding: .5em;
    font-size: 40px;
    background-color: #505050;
    border-radius: 50px 10px;
    text-align: right;
    color: #ff9500;
    font-weight: 700;
    border: 2px solid #ff9500;
    cursor: default;
}

::placeholder {
    color: #ff9500;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type='button'] {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 70px;
    height:70px;
    border: none;
    background-color: #d4d4d2;
    color: #1c1c1c;
    font-weight: 900;
    cursor: pointer;
    font-size: 20px;
}

input[type='button']:hover, button:hover {
    color: #ff9500;
    background-color: #1c1c1c;
    border: 1px solid #ff9500;
    transition: .3s;
}

.reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 95%;
    height: 70px;
    border-radius: 20px;
    border: none;color: #1c1c1c;
    background-color: #d4d4d2;
    font-weight: 900;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}
